table.table {
    width: 500px;
    margin: 0 auto;

}

body {
    padding: 100px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    background-color: #1b1818;
    text-align: center;
}